.trip{
    color: orangered;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
    height: 30px;
}
h2{
    font-size: 35px;
    font-weight: 700;
}
body{
    margin: 0%;
}
.hobey{
    height: 500px;
    border: 1px solid white;
    padding-left: 100px;
}
#merj{
    text-align: center;
}
.rong{
    color:tomato;
}
.rong3{
    color: navy;
}
.weight{
    font-weight: 700;
}
.boro{
    font-weight: 700;
    font-size: 35px;
}
.ancore{
    text-decoration: none;
    background-image: linear-gradient(45deg,tomato,lightsalmon);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}
.half{
    width: 40%;
    float: left;
    margin-left: 10px;
    padding-left: 2%;
   
}
.half img{
width: 100%;
}
section{
    
}
.power-gym{
    font-weight: 700;
    
}
.music{
    width:24%;
    float: left;
   margin: 10px;
    padding: 5px 40px ;
   
    border-radius:5px;
    margin-bottom: 150px;
}
.music img{
    width: 100%;
}
.box{
    box-shadow: 1px 1px 4px grey ;
}
.beg{
    width: 5vw;
    height: 10vh;
}
footer p{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    height: 20px;
   
}
.foter{
    text-decoration: none;
}
